@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show fixed-bottom" style="bottom: -10px; left: 10px;background-color: #3f4257; width:300px; color: lightcyan;" role="alert">
        We use cookies to understand how you use our site and to improve your experience. <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn More</a>.

        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <div aria-hidden="true" style="font-size: 15px; margin-top:40px; margin-right: -5px;" class="text-light">Accept</div>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
